{{- if .Capabilities.APIVersions.Has "batch/v1/CronJob" -}}
apiVersion: batch/v1
{{- else }}
apiVersion: batch/v1beta1
{{- end }}
kind: CronJob
metadata:
  name: {{ include "scheduled-snapshot-operator.name" . }}
  labels:
    {{- include "scheduled-snapshot-operator.labels" . | nindent 4 }}
spec:
  schedule: "{{ .Values.schedule }}"
  successfulJobsHistoryLimit: {{ .Values.successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ .Values.failedJobsHistoryLimit }}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          annotations:
            {{- toYaml .Values.podAnnotations | nindent 12 }}
          {{- if .Values.podLabels }}
          labels:
            {{- toYaml .Values.podLabels | nindent 12 }}
          {{- end }}
        spec:
          {{- if .Values.podSecurityContext }}
          securityContext:
            {{- toYaml .Values.podSecurityContext | nindent 12 }}
          {{- end }}
          serviceAccountName: {{ include "scheduled-snapshot-operator.name" . }}
          {{- if .Values.image.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml .Values.image.imagePullSecrets | nindent 12 }}
          {{- end }}
          containers:
            - name: {{ .Chart.Name }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              resources:
                {{- toYaml .Values.resources | nindent 16 }}
              {{- if .Values.containerSecurityContext }}
              securityContext:
                {{- toYaml .Values.containerSecurityContext | nindent 16 }}
              {{- end }}
              env:
                - name: LOG_LEVEL
                  value: "{{ .Values.logLevel }}"
          restartPolicy: Never
